<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
     
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}키워드1, 키워드2{% endif %}">

<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
{% if page.image %}
  <meta property="og:image" content="{{ site.url }}/images/{{ page.image }}">
{% endif %}

<link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
  </head>
  
  <body>
    
    <div class="wrapper-masthead">
      <div class="container">
        </div>
    </div>
    
    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          <p style="text-align: center;"><a href="tel:010-9048-0767">상위광고 010 9048 0767</a></p>
        </footer>
      </div>
    </div>
    
  </body>
</html>
